<% include ./partials/header %>
<body class="blue">

<div class="row align-center">
   <div class="twelve columns">

      <img class="margin30-top" src="img/logo.png">

      <div class="login">
         <!--<label>Username</label>
         <input type="text">
         <label>Password</label>
         <input type="password">
         <br>-->
         <a class="button orange margin20-top" href="/auth/salesforce">Login with SalesForce</a>
         <!--<p class="margin20-top"><a href="">Forgot Password</a></p>-->
      </div>

   </div>
</div>
<% include ./partials/footer %>